// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-properties{
	margin-top: 14%;
    margin-left: 28%;
    width: 53%;
    font-size: x-large;
    border-bottom: 2px solid #48a0dc;
    background-color: white;
    font-style: oblique;
}